ul {list-style: none;
}
ul li {
    display: inline-block;
    vertical-align: top;
}
.active {
    position: relative;
}
.active a {
    position:absolute;
    display: block;
    min-width: 100px;
    height:30px;
    background: cyan
}
li:hover a {display: block;}
