html,body {
    margin: 0;
    padding: 0;
}
.parent-relative {
    position:relative;
    top: 100px;
    left: 200px;
    margin-top: 10px;
    width: 300px;
    min-height: 150px;
    background-color: rgba(0,0,0,0.1);
    opacity: 80%;
}
.block-absolute {
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: rgba(0,0,0,0.1);
    opacity: 80%;
}

.parent {
    min-height: 90px;
    margin-bottom: 20px;
    background-color: antiquewhite;
}
