/* cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: 
    url("../fonts/ptsans.woff2") format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: 
    url("../fonts/ptsans.woff2")
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}/* cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: bold;
  font-weight: 700;
  src: 
    url("../fonts/ptsansbold.woff2")
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
  font-family: "PT Sans";
  font-style: bold;
  font-weight: 700;
  src: 
    url("../fonts/ptsansbold.woff2")
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
.sprite {
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite-calendar {
    width: 21px;
    height: 22px;
    background-position: -5px -5px;
}

.sprite-calendar-active {
    width: 21px;
    height: 22px;
    background-position: -5px -37px;
}

.sprite-calendar-hover {
    width: 21px;
    height: 22px;
    background-position: -5px -69px;
}

.sprite-check {
    width: 22px;
    height: 22px;
    background-position: -5px -101px;
}

.sprite-check-dis {
    width: 22px;
    height: 22px;
    background-position: -5px -133px;
}

.sprite-check-hover {
    width: 22px;
    height: 22px;
    background-position: -5px -165px;
}

.sprite-check-ok {
    width: 26px;
    height: 22px;
    background-position: -5px -197px;
}

.sprite-check-ok-active {
    width: 26px;
    height: 22px;
    background-position: -5px -229px;
}

.sprite-check-ok-dis {
    width: 26px;
    height: 22px;
    background-position: -5px -261px;
}

.sprite-down {
    width: 11px;
    height: 10px;
    background-position: -5px -293px;
}

.sprite-down-active {
    width: 11px;
    height: 10px;
    background-position: -5px -313px;
}

.sprite-down-hover {
    width: 11px;
    height: 10px;
    background-position: -5px -333px;
}


.sprite-minus {
    width: 12px;
    height: 3px;
    background-position: -5px -382px;
}

.sprite-minus-active {
    width: 12px;
    height: 3px;
    background-position: -5px -395px;
}

.sprite-minus-hover {
    width: 12px;
    height: 3px;
    background-position: -5px -408px;
}

.sprite-plus {
    width: 11px;
    height: 11px;
    background-position: -5px -447px;
}

.sprite-plus-active {
    width: 11px;
    height: 11px;
    background-position: -5px -468px;
}

.sprite-plus-hover {
    width: 11px;
    height: 11px;
    background-position: -5px -489px;
}

.sprite-radio {
    width: 20px;
    height: 23px;
    background-position: -5px -510px;
}

.sprite-star {
    width: 18px;
    height: 17px;
    background-position: -5px -543px;
}
.sprite-f {
    width: 10px;
    height: 19px;
    background-position: -5px -353px;
}

.sprite-play {
    width: 20px;
    height: 16px;
    background-position: -5px -421px;
}

.sprite-t {
    width: 17px;
    height: 15px;
    background-position: -5px -570px;
}

.sprite-up {
    width: 11px;
    height: 10px;
    background-position: -5px -595px;
}

.sprite-up-active {
    width: 11px;
    height: 10px;
    background-position: -5px -615px;
}

.sprite-up-hover {
    width: 11px;
    height: 10px;
    background-position: -5px -635px;
}
body {
  font-family: "PT Sans";
  min-width: 768px;
}
.container {
  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto;
  background-color: rgba(200,200,0,0.5);
}
h2 {
  font-size: 21px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  line-height: 26px;
  text-align: center;
}

p {
  font-size: 14px;
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  line-height: 26px;
  text-align: center;
}

input[type="submit"],
button[type="button"] {
  font-size: 21px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 26px;
  text-align: center;
}

h3 {
  font-size: 21px;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 26px;
  text-align: center;
}

b,
.main-menu a {
  font-size: 14px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-weight: bold;
  line-height: 26px;
  text-align: left;
}
.main-menu li:nth-child(n+3) a {
  text-align: right;
}
.main-menu a {
  text-decoration: none;
  display: block;
}
.main-menu a.active-link {
  color: rgb(118, 99, 87);
}
.main-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-menu li {
  float: left;
  width: 20%; 
}
.main-menu li:nth-child(1) {
  margin-left: 6%;
}
.main-menu li:nth-child(3) {
  margin-right: 6%;
}
.main-header li:nth-child(n+3) {
  float: right;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.main-nav {
  padding: 21px 0 25px 0;
}

.logo-block {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
}


.logo-container {
  display: inline-block;
  width: 138px;
  height: 70px;
  background: url("../img/logo-bg.png") no-repeat 0 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
}

.sort-types {
  float: left;
  list-style: none;
  padding: 0;
  margin: 0;
}
.sorting li {
  display: inline-block;
}
.triangles {
  float: left;
  list-style: none;
  padding: 0;
  margin: 0;
}
.triangles a {
  display: block;
  width: 11px;
  height: 10px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}
.triangles .up {
  background-position: -5px -595px;
}
.triangles .down {
  background-position: -5px -293px;
}
.triangles .active {
  
}
.triangles .up:hover {
  background-position: -5px -635px;
}
.triangles .up:active {
  background-position: -5px -615px;
}
.triangles .down:hover {
  background-position: -5px -333px;
}
.triangles .down:active {
  background-position: -5px -313px;
}

span {
  float: left;
  font-size: 12px;
  color: rgb(0, 0, 0);
  line-height: 18;
  text-align: left;
}

.sorting-types {
  float: left;
  list-style: none;
  padding: 0;
  margin: 0;
}
.sorting-types li {
  float: left;
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.sorting label {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.302);
  line-height: 18px;
  text-align: left;
  cursor: pointer;
}
.sorting label:checked {
  color: rgb(129, 179, 210);
}
.sorting label:not(:checked)::after {
  content:"";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background: url("../img/dot.png") repeat-x 0 0;
}
.sorting {
  display: block;
}

sorting h3 {
  float: left;
}

.white {
  color: rgb(255, 255, 255);
  background: #81b3d2;
}

.main-form {
  position: absolute;
  left: 0px;
  top: 86px;
  
  width: 568px;
  font-size: 14px;
  color: rgb(0, 0, 0);
  background: white;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 26px;
  text-align: left;
}
.main-form [type="number"] {
  display: inline-block;
  position: relative;
  font: inherit;
  text-align: center;
  width: 38px;
  height: 38px;
  padding: 0px 38px;
  border: 0;
  margin: 0;
  background-color: #f2f2f2;
}
.main-form [type="number"]::before {
  content: "";
  position: absolute;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  top: 18px;
  left: 14px;
  width: 12px;
  height: 3px;
  background-position: -5px -382px;  
}
.main-form [type="number"]::before:hover {
  background-position: -5px -408px;
  
}
.main-form [type="number"]::before:active {
  background-position: -5px -395px;
  
}
.main-form [type="number"]::after {
  content: "";
  position: absolute;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  top: 16px;
  left: 16px;
  width: 11px;
  height: 11px;
  background-position: -5px -447px;
}
.main-form [type="number"]::after:hover {
  background-position: -5px -489px;
}
.main-form [type="number"]::after:active {
  background-position: -5px -468px;
}
.main-form [type="date"] {
  display: inline-block;
  position: relative;
  font: inherit;
  width: 308px;
  height: 38px;
  padding-right: 38px;
  border: 0;
  margin: 0;
  background-color: #f2f2f2;
}
.main-form [type="date"]::after {
  content: "";
  position: absolute;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  top: 10px;
  left: 10px;
  width: 21px;
  height: 22px;
  background-position: -5px -5px;
}
.main-form [type="date"]::after:hover {
  background-position: -5px -69px;
}
.main-form [type="date"]::after:active {
  background-position: -5px -37px;
}
.main-form [type="submit"] {
  display: inline-block;
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
  border: 0;
  padding: 0;
}


.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;  
}
.social li {
  display: inline-block;
}
.social a {
  display: flex;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  justify-content: center;
  align-items: center;
}
.social span {
  display: block;
  background-image: url("/img/sprite.png");
  background-repeat: no-repeat;  
}
.facebook span {
  width: 10px;
  height: 19px;
  background-position: -5px -353px;
}
.play span {
  width: 20px;
  height: 16px;
  background-position: -5px -421px;
}

.twitter span {
  width: 17px;
  height: 15px;
  background-position: -5px -570px;
}
.ha-logo {
  display: inline-block;
  width: 113px;
  height: 39px;
}
.ha-logo:hover {
  background: url("/img/HA-logo-hover.png") no-repeat 0 0;
  transition: background 0.6s ease-in;
}
.ha-logo:hover img {
  opacity: 0;
  transition: opacity 0.6s ease-out;
}
.ha-logo:active {
  background: url("/img/HA-logo-active.png") no-repeat 0 0;
  transition: background 0.6s ease-in;
}
.ha-logo:active img {
  opacity: 0;
  transition: opacity 0.6s ease-out;
}

h4 {
 text-transform: uppercase;
}



.img-main {
  position: relative;
  min-width: 768px;
  max-width: 1200px;
  height: 512px;
  margin: 0 auto;
  font-size: 0;
  background-image:
  url("/img/welcome.png"), url("/img/background-small.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%, 60% 18%;
  margin-bottom: 56px;
}
.img-main::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 57px;
  background-image: url("/img/shape.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.main-header {
  position: relative;
}

.feature {
  display: inline-block;
  width: 33%;
  height: 256px;
  padding: 15px 37px;
  box-sizing: border-box;
}
.feature-img {
  display: inline-block;
  height: 256px;
  width: 67%;
  background-repeat: no-repeat;
}
.feature-img-1 {
  float: right;
  background-image: url("/img/img-1.jpg");  
  background-position: center;
  background-size: cover;
}
.feature-img-2 {
  float: left;
  background-image: url("/img/img-2.jpg");  
  background-position: center;
  background-size: cover;
}



.advantage {
  float: left;
  display: inline-block;
  padding: 60px 5%;
  box-sizing: border-box;
  width: 33.33333333%;
  text-align: center;
}



.interested h2 {
  font-size: 30px;
  line-height: 24px;
}

.interested p {
  font-size: 14px;
  line-height: 24px;
}

.search-btn-container {
  text-align: center;
}

.search-btn {
  display: block;
  border: 0;
  padding: 0;
  width: 568px;
  height: 86px;
  
  background-color: #766357;
}
.map-img {
  display: inline-block;
  height: 256px;
  width: 100%;
  background-repeat: no-repeat;
  float: right;
  background-image: url("/img/map.jpg");  
  background-position: center;
/*  background-size: cover;*/
}

.feature-block-4 {
  background: #eee;  
}

.btn-container {
  position: relative;  
  display: inline-block;
  width: 568px;
}
