/* cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: 
    url("../fonts/ptsans.woff2") format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: 
    url("../fonts/ptsans.woff2")
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}/* cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: bold;
  font-weight: 700;
  src: 
    url("../fonts/ptsansbold.woff2")
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
  font-family: "PT Sans";
  font-style: bold;
  font-weight: 700;
  src: 
    url("../fonts/ptsansbold.woff2")
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

body {
  font-family: "PT Sans";
  min-width: 768px;
}
.container {
  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto;
}
h2 {
  font-size: 21px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  line-height: 26px;
  text-align: center;
}
h3 {
  font-size: 21px;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 26px;
  text-align: center;
}
h4 {
 text-transform: uppercase;
}

p {
  font-size: 14px;
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  line-height: 26px;
  text-align: center;
}

input[type="submit"],
button[type="button"] {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 26px;
  text-align: center;
}


b,
.main-menu a {
  font-size: 13px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-weight: bold;
  line-height: 26px;
  text-align: left;
  letter-spacing: 0.8px;
}
.main-header {
  position: relative;
}

.main-menu li:nth-child(n+3) a {
  text-align: right;
}
.main-menu a {
  text-decoration: none;
  display: block;
}
.main-menu a.active-link {
  color: rgb(118, 99, 87);
}
.main-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-menu li {
  float: left;
  width: 20%; 
}
.main-menu li:nth-child(1) {
  margin-left: 6%;
}
.main-menu li:nth-child(3) {
  margin-right: 6%;
}
.main-header li:nth-child(n+3) {
  float: right;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.main-nav {
  padding: 15px 0 15px 0;
}

.logo-block {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
}


.logo-container {
  display: inline-block;
  width: 138px;
  height: 70px;
  background: url("../img/logo-bg.png") no-repeat 0 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
}

.img-main {
  position: relative;
  min-width: 768px;
  max-width: 1200px;
  height: 508px;
  margin: 0 auto;
  font-size: 0;
  background-image:
  url("/img/welcome.png"), url("/img/background-small.jpg");
  background-repeat: no-repeat;
  background-position: 50% 48%, 50% 28%;
  background-size: auto, cover;
  margin-bottom: 60px;
  z-index: -1;
}
.img-main::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 57px;
  background-image: url("/img/shape.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.reasons {
/*  line-height: 50px;*/
  margin-top: 30px;
}
.feature-block:first-of-type {
  margin-top:50px;
}
.feature-block h3 {
  line-height: 1;
}
.feature-block p {
  margin-top: 23px;
  line-height: 1.6;
  text-align: center;
}

.white {
  color: rgb(255, 255, 255);
  background: #81b3d2;
}
.feature:first-of-type {
  display: inline-block;
  width: 33%;
  height: 256px;
  padding: 34px 55px;
  box-sizing: border-box;
}
.feature-img {
  display: inline-block;
  height: 256px;
  width: 67%;
  background-repeat: no-repeat;
}
.feature-img-1 {
  float: right;
  background-image: url("/img/img-1.jpg");  
  background-position: 0% 55%;
  background-size: cover;
}
.feature-img-2 {
  float: left;
  background-image: url("/img/img-2.jpg");  
  background-position: center;
  background-size: cover;
}



.advantage {
  float: left;
  display: inline-block;
  padding: 56px 5% 53px;
  box-sizing: border-box;
  width: 33.33333333%;
  text-align: center;
}
.advantage h4 {
  font-size: 20px;
  margin-bottom: 22px;
}
.advantage-p {
  line-height: 1.5;
}
.lodge {
  display: inline-block;
  width: 80px;
  height: 75px;
  background: url("/img/house.png") no-repeat 1px 5px;
}
.food {
  display: inline-block;
  width: 80px;
  height: 75px;
  background: url("/img/food.png") no-repeat 2px 5px;
}
.souvenirs {
  display: inline-block;
  width: 80px;
  height: 75px;
  background: url("/img/souvenirs.png") no-repeat 7px 0px;
}
.feature-block-3 {
  margin-top: 20px;
}
.feature:nth-of-type(2) {
  display: inline-block;
  width: 33%;
  height: 256px;
  padding: 27px 37px;
  box-sizing: border-box;
}
.feature-block-3 h3 {
  line-height: 1;
}
.feature-block-3 p {
  margin-top: 23px;
  line-height: 1.5;
}

.white {
  color: rgb(255, 255, 255);
  background: #81b3d2;
}
.feature-block-4 .advantage {
  padding: 26px 5% 26px;
}
.feature-block-4 h3 {
  line-height: 1;
  margin-bottom: 25px;
}
.feature-block-4 p {
  margin-top: 21px;
  line-height: 1.5;
}

.interested h2 {
  font-size: 30px;
  line-height: 24px;
  margin-bottom: 0;
  margin-top: 58px;
}


.interested p {
  font-size: 14px;
  line-height: 24px;
  margin-top: 13px;
  margin-bottom: 47px
}

.search-btn-container {
  text-align: center;
}

.search-btn {
  display: block;
  border: 0;
  padding: 0;
  width: 568px;
  height: 86px;
  background-color: #766357;
}
.map-img {
  display: block;
  vertical-align: top;
  height: 592px;
  width: 100%;
  background-repeat: no-repeat;
  background-image: url("/img/map.jpg");  
  background-position: 50% 100%;
}

.feature-block-4 {
  background: #eee;  
}

.btn-container {
  position: relative;  
  display: inline-block;
  width: 568px;
}


/*    f  o  t  e  r    */

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -120px;
  height: 120px;
  background: rgba(255,255,255,0.9);
}

.footer-column {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 33.33333333%;
  text-align: center;
}

.social {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin-left: 0px;
  font-size: 0;  
  width: 150px;
}
.social li {
  display: inline-block;
  margin-right: 6px;
}
.social li:last-of-type {
  margin-right: 0;;
}
.social li:first-child {
  margin-left: 0;
}
.social a {
  display: flex;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  justify-content: center;
  align-items: center;
}
.social span {
  display: block;
  background-image: url("/img/sprite.png");
  background-repeat: no-repeat;  
}
.facebook span {
  width: 10px;
  height: 19px;
  background-position: -5px -353px;
}
.play span {
  width: 20px;
  height: 16px;
  background-position: -5px -421px;
}
.twitter span {
  width: 17px;
  height: 15px;
  background-position: -5px -570px;
}
.social a:hover {
  background-color: #669ec0;
}
.social a:active {
  background-color: #5496bd;
}
.social a:active + span {
    opacity: 0.3;
}


.main-footer b {
  display: inline-block;
  font-weight: 400;
  vertical-align: top;
  margin-right: 5px;
}

.ha-logo {
  display: inline-block;
  width: 113px;
  height: 39px;
}
.ha-logo:hover {
  background: url("/img/HA-logo-hover.png") no-repeat 0 0;
  transition: background 0.6s ease-in;
}
.ha-logo:hover img {
  opacity: 0;
  transition: opacity 0.6s ease-out;
}
.ha-logo:active {
  background: url("/img/HA-logo-active.png") no-repeat 0 0;
  transition: background 0.6s ease-in;
}
.ha-logo:active img {
  opacity: 0;
  transition: opacity 0.6s ease-out;
}
























/*    s o r t i n g   */
.sort-types {
  float: left;
  list-style: none;
  padding: 0;
  margin: 0;
}
.sorting li {
  display: inline-block;
}
.triangles {
  float: left;
  list-style: none;
  padding: 0;
  margin: 0;
}
.triangles a {
  display: block;
  width: 11px;
  height: 10px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}
.triangles .up {
  background-position: -5px -595px;
}
.triangles .down {
  background-position: -5px -293px;
}
.triangles .active {
  
}
.triangles .up:hover {
  background-position: -5px -635px;
}
.triangles .up:active {
  background-position: -5px -615px;
}
.triangles .down:hover {
  background-position: -5px -333px;
}
.triangles .down:active {
  background-position: -5px -313px;
}

span {
  float: left;
  font-size: 12px;
  color: rgb(0, 0, 0);
  line-height: 18;
  text-align: left;
}

.sorting-types {
  float: left;
  list-style: none;
  padding: 0;
  margin: 0;
}
.sorting-types li {
  float: left;
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.sorting label {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.302);
  line-height: 18px;
  text-align: left;
  cursor: pointer;
}
.sorting label:checked {
  color: rgb(129, 179, 210);
}
.sorting label:not(:checked)::after {
  content:"";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background: url("../img/dot.png") repeat-x 0 0;
}
.sorting {
  display: block;
}

sorting h3 {
  float: left;
}
/*    s o r t i n g   */

.main-form {
  position: absolute;
  display: none;
  left: 0px;
  top: 86px;
  padding: 55px;
  box-sizing: border-box;
  width: 568px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.8px;
  color: rgb(0, 0, 0);
  background: white;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
}
.main-form label {
  display: inline-block;
  float: left;
  width: 112px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 26px;
  letter-spacing: 0.8px;
  line-height: 38px;
}
.calendar {
  display: inline-block;
  float: left;
  width: 345px;
  height: 38px;
  border: 0;
  margin: 0;
  padding: 10px 13px;
  box-sizing: border-box;
  padding-right: 38px;
  background-color: #f2f2f2;
  background-image: url("../img/calendar.png");
  background-position: 316px 7px;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 26px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
.calendar:hover {
  background-image: url("../img/calendar-hover.png");
  background-color: #ebebeb;
}
.calendar:focus {
  background-image: url("../img/calendar-active.png");
  background-color: white;
  border: 2px solid e5e5e5 inset;  
}
.number:hover {
  background-color: #ebebeb;  
}
.number:focus {
  background-color: white;
  border: 2px solid e5e5e5 inset;  
}
.main-btn {
  display: inline-block;
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
  border: 0;
  padding: 0;
}
.main-btn:hover {
  background-color: #669ec0;
}
.main-btn:active {
  color: rgba(255,255,255,0.3);
  background-color: #5496bd;
}

.number-container {
  display: inline-block;
  width: 117px;
  height: 38px;
}

.main-form .label-children {
  width: 60px;
  margin-left: 58px;
}

.number {
  display: inline-block;
  float: left;
  vertical-align: top;
  font: inherit;
  width: 38px;
  height: 38px;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  text-align: center;
  margin-bottom: 53px;
}
.minus {
  display: inline-block;
  float: left;
  vertical-align: top;
  width: 38px;
  height: 38px;
  box-sizing: border-box;
  background: #f2f2f2 url("../img/minus.png") no-repeat center;
  border: 0;
  padding: 0;
}
.minus:hover {
  background: #f2f2f2 url("../img/minus-hover.png") no-repeat center;  
}
.minus:active {
  background: #f2f2f2 url("../img/minus-active.png") no-repeat center;  
}
.plus {
  display: inline-block;
  float: left;
  vertical-align: top;
  width: 38px;
  height: 38px;
  box-sizing: border-box;
  background: #f2f2f2 url("../img/plus.png") no-repeat center;
  border: 0;
  padding: 0;
}
.plus:hover {
  background: #f2f2f2 url("../img/plus-hover.png") no-repeat center;  
}
.plus:active {
  background: #f2f2f2 url("../img/plus-active.png") no-repeat center;  
}


.modal-show {
  display: block;
}

/*   h  o  t  e  l  s    */
.form-hotels b {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}
.form-hotels label {
  display: block;
  padding-left: 40px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: white;  
}
.form-hotels {
  position: relative;
  height: 219px;
  margin: 0 auto;
}
.infrastructure {
  float: left;
  display: inline-block;
  vertical-align: top;
  width: 240px;
  margin-top: 34px;
  margin-left: 6%;
  border: 0;
}
.room-type {
  float: left;
  width: 150px;
  margin-top: 34px;
  margin-left: 0;
  border: 0;
}
.fare {
  float: right;
  margin-top: 34px;
  margin-right: 6%;
  width: 222px;
  height: 170px;
}
.form-hotels ul {
  list-style: none;
  padding: 0;
  margin: 5px 0;
}
.form-hotels li {
  display: block;
}

label[for^="check-"] {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
label[for^="check-"]::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 35px;
  height: 20px;
  left: 0px;
  top: 0px;
  
  background-image: url("/img/check.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
#check-1:checked ~ .form-hotels label[for="check-1"]::before, 
#check-2:checked ~ .form-hotels label[for="check-2"]::before, 
#check-3:checked ~ .form-hotels label[for="check-3"]::before, 
#check-4:checked ~ .form-hotels label[for="check-4"]::before, 
#check-5:checked ~ .form-hotels label[for="check-5"]::before, 
#check-6:checked ~ .form-hotels label[for="check-6"]::before
{
  background-image: url("/img/check-ok-active.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
input[type="checkbox"] {
  display: none;
} 

.img-hotels {
  position: relative;
  min-width: 768px;
  max-width: 1200px;
  height: 219px;
  margin: 0 auto;
  font-size: 0;
  background-image:
  url("/img/background-blur.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  margin-bottom: -219px;
  z-index: -1;
}