body {
    background:  url("img/bckg.jpg");
    background-color: #3d2b1f;
    color: antiquewhite;
    background-repeat: round;
    background-position: left top;
    background-attachment: fixed;
    background-size: contain;
    font-family: 'Caveat', cursive;
    font-size: 26px;
    line-height: 38px;
}

.poem {
    position: absolute;
    background-color: rgba(0,0,0,0.2);
    bottom: 5%;
    left: 5%;
    padding: 40px;
}
