html,body {
    margin: 0;
    padding: 0;
}
body {
    background: gray url("");
    font-size: 40px;
}
.flex-container {
    top: 10px;
    left: 20px;
    display: flex;
    width: 600px;
    min-height: 250px;
    flex-direction: row; /*column, row-reverse, column-reverse; */
    justify-content:space-between;
    align-items: flex-end;
    background: wheat;
    border: 1px solid navy;
}
.flex-container div {
    border: 1px dashed;
    background:yellow;
}
.flex-container div:nth-child(2) {
    align-self:flex-start;
}
