h1 {
  font-size: 47px;
  font-family: "Gilroy";
  color: black;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 27px; 
}
.h1-menu {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 383px;
  height: 16px;
  justify-content: space-between;
  font-size: 14px;
  font-family: "Open Sans";
  color: rgba(0, 0, 0, 0.302);
  line-height: 2.571;
  text-align: left; 
  margin-bottom: 53px;
}
.arrow {
  display: inline-block;
  width:4px;
  height:8px;
  background: url("img/nav-arrow.svg.png") no-repeat 0 0;
}
.h1-menu div:nth-child(2n+1) {
  cursor: pointer;
}
.h1-menu div:nth-child(2n+1):hover {
  color:rgba(0,0,0,0.6);
}
.h1-menu div:nth-child(2n+1):active {
  color:rgba(0,0,0,0.1);
}
.catalog-items {
  display:inline-block;
  width: 760px;
  min-height: 1486px;
  font-size: 0;
  margin-top: 69px;
}
.catalog-item {
  display:inline-block;
  vertical-align: top;
  width: 360px;
  min-height: 486px;
  margin-right:40px;
}
.catalog-item:nth-child(2n) {
  margin-right:0;
}
.catalog-item-img {
  position: relative;
  display:block;
  width: 360px;
  height: 360px;
  background:rgba(0,0,0,0.08) url("img/item-1.jpg.png") no-repeat 0 0;
  margin-bottom: 37px;
}


.catalog-item-caption {
  display:inline-block;
  vertical-align: top;
  width: 254px;
  min-height: 68px;
  font-size: 18px;
  font-family: "Gilroy";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
}

.catalog-item-price {
  display: inline-block;
  vertical-align: top;
  width: 100px;
  min-height: 68px;
  font-size: 16px;
  font-family: "Gilroy";
  color: rgb(70, 70, 70);
  line-height: 1.2;
  text-align: right;
}


.pagination {
  display: flex;
  width: 760px;
  height: 70px;
  background: rgba(0,0,0,0.08);
  justify-content: space-between;
  align-items: center
}
.pagination a {
  padding:25px 26px 26px 30px;
  font-size: 16px;
  font-family: "Gilroy";
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  text-decoration: none;
  letter-spacing: 0.2em;
}
.pagination>a[href]:hover {
  background: rgba(0,0,0,0.08);
}
.pagination>a[href]:active {
  color: rgba(0,0,0,0.3);
}
.pagination div {
  width: 440px;
  display: inline-block;
  text-align:center;
}
.pagination div a {
  margin: 0 12px;
  padding:0;
  color:black;
}
.pagination div a[href] {
  color:rgba(0,0,0,0.3);
}
.pagination div a[href]:hover {
  color: rgba(0,0,0,0.6);
}
.pagination div a[href]:active {
  color: rgba(0,0,0,1);
}

.catalog-item-modal {
  position:absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top:0;
  left:0;
  width: 360px;
  height: 360px;
  background:rgba(238,238,238,0.7);
  color:black;
  opacity: 0;
}
.catalog-item-img:hover .catalog-item-modal {
  opacity: 1;
}

.catalog-item-modal a:first-child {
  display: block;
  font-size: 18px;
  font-family: "Gilroy";
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  text-decoration: none; 
  width: 200px;
  height: 8px;
  margin: 15px 0;
  line-height: 9px;
  background-color:#f0c52e;
  letter-spacing: 0.2em;
}
.catalog-item-modal a:first-child:hover {
  margin:0;
  padding: 15px 10px;
}
.catalog-item-modal a:first-child:active {
  color:rgba(0,0,0,0.3);
}
.catalog-item-modal a:last-child {
  display:block;
  font-size: 13px;
  font-family: "Open Sans";
  color: rgba(0, 0, 0, 0.502);
  line-height: 2.769;
  text-align: center;
  text-decoration: none;
}
.catalog-item-modal a:last-child:hover {
  color:rgba(0,0,0,1);
}
.catalog-item-modal a:last-child:active {
  color:rgba(0,0,0,0.2);
}
.sorting-background {
  display: block;
  width: 100%;
  height: 70px;
  background: rgba(0,0,0,0.08);
}

.sorting {
  display: block;
  width: 760px;
  height: 70px;
  line-height: 70px;
}

.sorting-caption {
  float: left;
  font-size: 16px;
  font-family: "Gilroy";
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 70px;
  margin-right: 52px;
  text-decoration: none;
  letter-spacing: 0.2em;  
}
.sorting a {
  float:left;
  font-size: 14px;
  font-family: "Open Sans";
  color: rgb(0, 0, 0);
  line-height: 70px;
  text-align: left;
  text-decoration: none;
  margin-right:30px;
  
}
.sorting a[href] {
  color:rgba(0,0,0,0.3);
}


.triangle-up {
  float:right;
  display: inline-block;
  width:0px;
  height:0px;
  border:9px solid rgba(0,0,0,0.2);
  border-top-width:0;
  border-left-color:transparent;
  border-right-color:transparent;
  margin-top: 31px;
  margin-left: 26px;
}
.triangle-down {
  float:right;
  display: inline-block;
  width:0px;
  height:0px;
  border:9px solid rgba(0,0,0,0.2);
  border-top-color:rgba(0,0,0,0.2);
  border-bottom-width:0;
  border-left-color:transparent;
  border-right-color:transparent;
  margin-top: 31px;
  margin-left: 26px;
}
.active {
  border-top-color: black;
  border-bottom-color: black;
}
.triangle-up:hover, .triangle-down:hover {
  border-top-color: rgba(0,0,0,0.4);
  border-bottom-color: rgba(0,0,0,0.4);
}
.triangle-up:active, .triangle-down:active {
  border-top-color: rgba(0,0,0,1);
  border-bottom-color: rgba(0,0,0,1);
  
}

.subform-caption {
  font-size: 18px;
  font-family: "Gilroy";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
}

.filter {
  margin-top:80px;
}

.filter-title {
  font-size: 16px;
  font-family: "Gilroy";
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 70px;
  margin-right: 52px;
  text-decoration: none;
  letter-spacing: 0.2em;   
  margin-bottom: 99px;
}

.filter-range-title {
  font-size: 18px;
  font-family: "Gilroy";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 37px;
}

.price-controls label {
  font-size: 14px;
  font-family: "Gilroy";
  color: rgba(0, 0, 0, 0.2);
  line-height: 1.591;
  text-align: center;
  cursor: pointer;
/*
  position: absolute;
  left: 0px;
  top: 0px;
*/
}
.price-controls input {
  background: none;
  color:inherit;
  font:inherit;
  margin:0;
  border:none;
  outline:none;
}

.min-price, .max-price {
  width:90px;
  padding-left:65px;
}
  
.range-controls {
  position: relative;
  margin-bottom:30px;
}
.range-controls .scale {
  height: 2px;
  background: ;
}
.range-controls .bar {
  width: 80%;
  height:2px;
  background:green;
}
.range-toggle {
  position:absolute;
  top:-9px;
  width:4px;
  height:4px;
  background:grey;
  border: 8px solid;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0,1,1,0.2);
  
}

.filter-range {
  width:200px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 16px 0px 39px 0px;
}
