.flex {
  display:flex;
  background: lightgrey;
}
.s30 {
  width:300px;
  background: blue;
}

.s70 {
  width:70%;

  background:grey;
}



.content-wr {
  display: block;
  overflow: hidden;
  margin-top: 100px;
  width:100%;
  height: 500px;
  background: #efefef;
  background: linear-gradient(to right, #efefef 0%,#efefef 29%,#ffffff 30%,#ffffff 100%);
}

.one {
  display: inline-block;
  width:1000px;
  height: 100px;
  background:red;
  align-self: flex-start;
}

.two {
  width:100px;
  height: 1000px;
  background: lightgreen;
}
