html,
body,
ul {
    margin:0;
    padding: 0;
}
body {
    min-width: 1200px;
}
header {
    display: block;
    width: 1160px;
    height: 300px;
    margin-top:40px;
    margin-left:auto;
    margin-right: auto;
    padding:0;
    background:#f7e296;
}
.header-left {
    float:left;
    margin-left:58px;
    margin-top:48px;
    width:540px;
    height:86px;
}
.header-right {
    float:right;
    margin-right:62px;
    margin-top:48px;
    width:500px;
    height:86px;
}

.header-left .links {
    display: block;
}
.header-left .menu {
    display: block;
    margin-top:44px;
}
.header-right .links {
    display: block;
    padding-top: 4px;
}
.header-right .menu {
    display: block;
    margin-top: 47px;
    margin-left: 1px;
}
header nav ul {
    list-style: none;
}
header nav ul li a {
  float:left;
  display:inline-block;
  text-decoration: none;
  color:black;
}
header .links ul li a {    
  font-size: 15px;
  font-family: "Open Sans";
  line-height: 15px;
  letter-spacing: -0.4px;
}
header .menu ul li a {
  font-size: 18px;
  font-family: "Gilroy";
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 3.6px;
}
header nav::after {
    content:"";
    display: table;
    clear:both;
}

header nav ul .links-search input {
    width:200px;
    height: 15px;
    background: transparent;
    font-size: 15px;
    font-family: "Open Sans";
    line-height: 15px;
    letter-spacing: -0.0px;
    color:rgba(0,0,0,0.3);
    padding-left:36px;
    padding-right:120px;
    padding-bottom: 13px;
    border: 2px solid transparent;
}
header nav ul .links-search {
    position: relative;
}
header nav ul .links-search .links-search-icon  {
    position:absolute;
    display: inline-block;
    width: 16px;
    height: 16px;
    top:4px;
    left:4px;
    background: url("img/search.svg.png");
    
}
header nav ul .menu-catalog a {
    position:relative;
    margin-top:-12px;
}
.menu-catalog-icon {
    position: absolute;
    display:inline-block;
    width: 16px;
    height: 16px;
    bottom:2px;
    right:-28px;
    background:  url("img/plus.svg.png");
}

header nav ul .login a {
    position: relative;
    float:left;
    padding-left: 27px;
}
header nav ul .login a .login-icon {
    position:absolute;
    display: inline-block;
    width: 12px;
    height: 12px;
    top:0px;
    left:2px;
    background: url("img/user.svg.png");
}
header nav ul .delivery a {
    float:left;
}
header nav ul .cart a {
    float:right;
    position: relative;
    margin-left:65px;
}
header nav ul .cart a .cart-icon {
    position:absolute;
    display: inline-block;
    width: 12px;
    height: 12px;
    top:0px;
    left:-22px;
    background: url("/img/cart.svg.png");   
}

header nav ul .compare a {
    float: right;
    position: relative;
}
header nav ul .compare a .compare-icon {
    position:absolute;
    display: inline-block;
    width: 12px;
    height: 12px;
    top:3px;
    left:-21px;
    background: url("/img/compare.svg.png");   
}
header nav ul .menu-contacts a {
    float:right;
    margin-right:-5px;
    margin-left:109px;
}
header nav ul .menu-warranty a {
    float:right;
}
