html,body,ul {
    margin:0;
    padding: 0;
}
body {
    min-width: 1200px;
}
header {
    position: relative;
    display: block;
    width: 1160px;
    height: 299px;
    margin-top:40px;
    margin-left:auto;
    margin-right: auto;
    padding:0;
    background:rgba(240,197,46,0.5);
}
.logo {
    position: absolute;
    width: 169px;
    height: 54px;
    background: url("img/logo.png") no-repeat;
    top: -17px;
    left: 56px;
}
.white-line {
    position: absolute;
    width: 100px;
    height: 7px;
    background: white;
    top: 225px;
    left: 600px;
}
.header-left {
    float:left;
    margin-left:58px;
    margin-top:35px;
    width:540px;
    height:86px;
}
.header-right {
    float:right;
    margin-right:62px;
    margin-top:48px;
    width:500px;
    height:86px;
}
.menu-line-1, .menu-line-2 {
    display: block;
}
.header-left .menu-line-2 {
    margin-top:44px;
}
.header-right .menu-line-1 {
    padding-top: 4px;
}
.header-right .menu-line-2 {
    margin-top: 47px;
    margin-left: 1px;
}
header ul {
    list-style: none;
}
header a {
    font-family: "Open Sans";
    font-size: 15px;
    text-decoration: none;
    color:black;
}
.menu-line-1 a {    
  font-size: 15px;
  font-family: "Open Sans";
  line-height: 15px;
  letter-spacing: -0.4px;
}
.menu-line-2 > a {
  font-size: 18px;
  font-family: "Gilroy";
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 3.6px;
}
.clearfix::after {
    content:"";
    display: table;
    clear:both;
}
.catalog {
    position:relative;
    border: 5px solid red;
}
.catalog-icon {
    position: absolute;
    display:inline-block;
    width: 16px;
    height: 16px;
    top:2px;
    left:228px;
    background:  red url("img/plus.svg.png");
}
.sub-menu {
    position:absolute;
    display: block;
    left:-3px;
    top:20px;
    border:1px solid;
    width:700px;
}
[class^="sub-menu-column"] {
    float:left;
    margin: 39px 0 0 0;
    border: 1px solid blue;
}
.catalog:hover .sub-menu {
    display:block;
}
.sub-menu a {
    display: block;
    padding-bottom: 22px;
}
/*
.menu a:hover, .links a:hover {opacity:0.6;}
.menu a:active, .links a:active {opacity:0.3;}
.menu-catalog:hover .sub-menu a {display: block;}
*/
button {
    position: relative;
    display: inline-block;
    width: 85px;
    height: 50px;
    bottom:0px;
    left:-10px;
    border: 2px solid transparent;
    background: transparent;
    color:transparent;
}
button::after {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    left:-360px;
    bottom:-2px;
    background: transparent;
    width:370px;
}
.login a {
    position: relative;
    float:left;
    padding-left: 27px;
}
.login .login-icon {
    position:absolute;
    display: inline-block;
    width: 12px;
    height: 12px;
    top:0px;
    left:2px;
    background: url("img/user.svg.png");
}
.delivery a {
    float:left;
}
.cart a {
    float:right;
    position: relative;
    margin-left:65px;
}
.cart .cart-icon {
    position:absolute;
    display: inline-block;
    width: 12px;
    height: 12px;
    top:0px;
    left:-22px;
    background: url("/img/cart.svg.png");   
}
.compare a {
    float: right;
    position: relative;
}
.compare .compare-icon {
    position:absolute;
    display: inline-block;
    width: 12px;
    height: 12px;
    top:3px;
    left:-21px;
    background: url("/img/compare.svg.png");   
}
.menu-contacts a {
    float:right;
    margin-right:-5px;
    margin-left:109px;
}
.menu-warranty a {
    float:right;
}
.links-search input {
    width:200px;
    height: auto;
    padding:0;
    background: transparent;
    font-size: 15px;
    font-family: "Open Sans";
    color:black;
    padding-left:40px;
    padding-right:120px;
    border: none;
    
}
.links-search {
    position: relative;
}
.links-search-icon  {
    position:absolute;
    display: inline-block;
    width: 16px;
    height: 16px;
    top:15px;
    left:4px;
    background: url("img/search.svg.png");
    
}