html, body {
    margin: 0;
    padding: 0;
    width: 960px;
}
.c {
    background: rgba(0,0,0,0.1);
}
.main-header {
    margin-top: 3px;
    margin-bottom: 61px;
}
.container {
    width: 940px;
    margin: 0 auto;
}
.clearfix::after {
    clear:both;
    content: "";
    display: table;
}
.main-navigation {
    width: 780px;
    float: left;
    height: 70px;
}
.user-block {
    min-height: 70px;
    width: 140px;
    float: right;
}
.index-logo {
    width: 368px;
    height: 204px;
    margin: 0px auto;
    margin-bottom: 25px;
}

.features {
    margin-bottom: 75px;
}

.features-item {
    float:left;
    min-height: 170px;
    width: 300px;
    margin-right: 20px;
}
.features-item:last-child {
    margin-right: 0;
}
.index-content:nth-of-type(2) {
    padding-bottom: 50px;
    background-color: olive;
    margin-bottom: 33px;
}

.index-content:nth-of-type(3) {
    padding-bottom: 25px;
    background-color: olive;
}

.index-content-left {
    float: left;
    width: 380px;
    min-height: 315px;
    margin-left:80px;
    margin-top:57px;
}

.index-content-right {
    float: right;
    width: 300px;
    min-height: 315px;
    margin-right: 80px;
    margin-top:57px;
}

.main-footer {
    margin-top: 65px;
}

.contact-info {
    float:left;
    min-height: 193px;
    width: 380px;
    margin-right: 20px;
}

.social {
    float:left;
    min-height: 193px;
    width: 140px;
}

.copyright {
    float:right;
    min-height: 193px;
    width: 140px;
}
