html, head {
    margin: 0px;
    padding: 0px;
    /*background: -800px 0px url("barbershop-index.jpg");*/
}
.main-header {
    border: 20px dotted green;
    margin-bottom: 60px;
}
.container {
    width: 370px;
    margin: 0 auto;
    padding: 0 10px;
    border: 5px dashed red;
}
.clearfix::after {
    clear:both;
    content: "";
    display: table;
}
.main-navigation {
    min-height: 70px;
    width: 170px;
    float: left;
    border: 1px dashed blue;
}
.user-block {
    min-height: 70px;
    width: 70px;
    float: right;
    border: 1px solid yellow;
}
.index-logo {
    width: 100px;
    height: 80px;
    margin: 0px auto;
    border: 1px solid yellow;
    margin-bottom: 25px;
}

.features {
    border: 1px dashed black;
    margin-bottom: 40px;
}

.features-item {
    float:left;
    min-height: 50px;
    width: 105px;
    margin-right: 20px;
    border: 1px dotted green;
}
.features-item:last-child {
    margin-right: 0;
}
.index-content {
    border: 1px solid magenta;
    margin-bottom: 20px;
}

.index-content-left {
    float: left;
    width: 250px;
    border: 1px solid;
    min-height: 25px;
}

.index-content-right {
    float: right;
    width: 100px;
    border: 1px solid;
    min-height: 25px;
}

.main-footer {
    border: 1px solid;
    margin-top: 60px;
    min-height: 30px;
}

.contact-info {
    float:left;
    border: 1px solid;
    min-height: 20px;
    width: 80px;
    margin-right: 20px;
}

.social {
    float:left;
    border: 1px solid;
    min-height: 20px;
    width: 180px;

}

.copyright {
    float:right;
    border: 1px solid;
    min-height: 20px;
    width: 80px;
    margin-left: auto;

}
