@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ptsansnarrow.woff2") format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 700;
  src: url("fonts/ptsansnarrowbold.woff2") format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

body {
    margin: 0 auto;
    padding: 0;
    min-width: 960px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", "Arial", sans-serif; 
    text-transform: uppercase;
    background: black url("img/tint.png") no-repeat center top;
    color: white;
}
.c {
}
.main-header {
    margin-bottom: 62px;
    background-color: black;

}
.container {
    width: 940px;
    margin: 0 auto;
}
.clearfix::after {
    clear:both;
    content: "";
    display: table;
}
.main-navigation {
    width: 780px;
    float: left;
    height: 70px;
    color: white;   
}

.main-navigation a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 25px 20px;
}
.main-navigation a:hover {
    background-color: #242424;
}
.main-navigation ul {
    margin:0;
    padding: 0;
    list-style: none;
    font-size: 0px;
}
.main-navigation li {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 20px;
}
.user-block {
    float: right;
    max-width: 140px;
}
.login {
    position:relative;
    display: inline-block;
    vertical-align: top;
    color: white;
    text-decoration: none;
    padding: 25px 20px; 
    padding-left: 50px;
}
.login:hover {
    background-color: #242424;
}
.login::before {
    content: "";
    position: absolute;
    top: 28px;
    left: 20px;
    width: 18px;
    height: 18px;
    background: transparent url("img/icon-login.png") no-repeat;
    opacity: 0.3;
}
.login:hover::before {
    opacity: 1;
}
.index-logo {
    width: 368px;
    height: 204px;
    margin: 0px auto;
    margin-bottom: 25px;
}

.features {
    margin-bottom: 75px;
}

.features-item {
    float:left;
    min-height: 170px;
    width: 300px;
    margin-right: 20px;
    text-align: center;
}
.features-item:last-child {
    margin-right: 0;
}
.features-name {
    display: block;
    position: relative;
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 30px;
    padding-bottom: 35px;
}
.features-name::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -10px;
    transform: rotate(45deg);
    display: block;
    width: 20px;
    height: 20px;
    background: white;
}
.index-content:nth-of-type(2) {
    padding-bottom: 50px;
    margin-bottom: 33px;
}

.index-content:nth-of-type(3) {
    padding-bottom: 25px;
}

.index-content-left {
    float: left;
    width: 380px;
    min-height: 315px;
    margin-left:80px;
    margin-top:57px;
}

.index-content-right {
    float: right;
    width: 300px;
    min-height: 315px;
    margin-right: 80px;
    margin-top:57px;
}
.btn {
    display: inline-block;
    margin-right: 16px;
    padding: 10px 33px;
    cursor: pointer;
    font: inherit;
    color: inherit;
    text-transform: inherit;

}
.btn:hover,
.btn.active {
    background-color: #663d15 ;
    color: wheat;
}
.btn:disabled,
.btn.disabled {
    cursor: default;
    opacity: 0.5;
}
.btn.disabled:hover {
    background-color: #663d15;
}
.appointment-form input {
    font: inherit;
    color: inherit;
    text-transform: inherit;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    width: 130px;
    margin-bottom: 10px;
}
.appointment-form input:nth-child(2n) {
    margin-right: 0px;
}
.appointment-form .btn {
    width: 100%
}

.main-footer {
    margin-top: 65px;
}

.contact-info {
    float:left;
    min-height: 193px;
    width: 380px;
    margin-right: 20px;
}

.social {
    float:left;
    min-height: 193px;
    width: 140px;
}

.copyright {
    float:right;
    min-height: 193px;
    width: 140px;
}

.index-content-title {
    
}
