body {
    margin: 0;
    background:  url("img/bckg.jpg");
    background-color: #3d2b1f;
    color: antiquewhite;
    background-repeat: round;
    background-position: left top;
    background-attachment: fixed;
    background-size: contain;
    font-family: 'Caveat', cursive;
    font-size: 14px;
    line-height: 25px;
}
.poem,
.frame,
.text {
    padding: 10px;
    border: 1px solid white;
    background: rgba(0,0,0,0.1);
}
.poem {
    position: absolute;
    background-color: rgba(0,0,0,0.2);
    bottom: 10px;
    left: 5%;
    padding: 40px;
}

